*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #ffb612;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.logo img{
    width: 120px;
    height: 120px;
    margin-top: 10px;
    
 }
 header{
    width: 100%;
    height: 400px;
    background-color: black;
 }

.Container-1{
    width: 100%;
    min-width: auto;
    height: auto;
    min-height: 350px;
    background-color: #000000;
    background-image: -webkit-linear-gradient(50deg, #011 50%, #ffb612 0%);
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
nav ul a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.Container-1 h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    padding-top: 50px;
}
.Container-1 #ginastica{
    margin-bottom: 10px;
    padding-top: 40px;
}